@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Indie+Flower|Lacquer|Permanent+Marker|Shadows+Into+Light&display=swap');
@font-face{
  font-family: 'Indie Flower';
  src: url("fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
@font-face{
  font-family: 'Courgette';
  src: url("fonts/Courgette/Courgette-Regular.ttf");
}
/*TIPOS DE LETRASS*/
/*
font-family: 'Lacquer', ;
font-family: 'Indie Flower', ;
font-family: 'Dancing Script', ;
font-family: 'Shadows Into Light', ;
font-family: 'Permanent Marker', ;
font-family: 'Courgette', ;
*/

/*********************************************************
                        CONTENIDO (GENERAL)
*********************************************************/
.container {
  width: 940px;
  background: lightgrey;
  margin: auto;
  border-radius: 25px;
  font-family: sans-serif;
}

body{
  font-family: arial;
}

h1{
  font-family: "Indie Flower";
}

/*********************************************************
                        PAGINA PRINCIPAL
*********************************************************/
    
    .col {
      width: 310px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding: 15px;
    }

    .col h2{
      color: #B52025;
      font-family: 'Courgette';
    }

    .row{
      text-align: center;
    }

    .entrada{
      width: 900px;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      padding: 15px;
      margin-top: -30px;
    }
 
/*********************************************************
                              IMÁGENES
*********************************************************/
    
    #img {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
    #img:hover {
      opacity: 1.0;
      filter: alpha(opacity=100);
    }

    #img2:hover{
    transform: scale(1.1)
    }
     #img3:hover{
    transform: scale(1.2)
    }
   
/*********************************************************
                              MENÚS
*********************************************************/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*********************************************************
                          REDES SOCIALES
*********************************************************/

.copyright {
  text-align: center;
  background-color: #717070;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2px;
  border-top-width: 2px;
  font-family: "Source Sans Pro";
}

.icono {
  width: 80px;
  border-radius: 180px;
  height: 80px;
  margin-left: auto;
}
.icono_align {
  text-align: center;
}
.social {
  text-align: center;
  margin: auto;
  background-color: #414141;
  overflow: auto;
  padding: 10px;
}
.social_icon {
  width: 20%;
  text-align: center;
  float: left;
  line-height: 0px;
  padding-top: 7px;
}

/*********************************************************
                          PAGINA CONTACTOS
*********************************************************/

/*********************************************************
                          PAGINA CONTACTOS
*********************************************************/

html {
  box-sizing: border-box;
}

h2{
  font-family: 'Indie Flower';
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columna {
  float: left;
  width: 33%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .columna {
    width: 100%;
    display: block;
  }
}

.persona {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contenedor::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.contactos{
  text-align: center;
}

.redondo {
  width: 150px;
  border-radius: 200px;
  height: 150px;
  margin-left: auto;
}

/*********************************************************
                          PAGINA Llibres
*********************************************************/

/*#nrom{
  margin: 150px auto;
  width: 600px;
}
*/
table{
  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: solid 1px black;
  padding: 20px;
}

thead{
  background-color: green;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even){
  background-color: #ddd;
}

tr:hover{
  background-color: #369681;
}